/* MMDD159 - Module 10 - Response Navigation     */
/* Extra small devices (phones, less than 600px) */
/* No media query since this is the default CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Liu Jian Mao Cao', cursive;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Liu Jian Mao Cao', cursive;
}

nav {
    padding-bottom: 4px;
    border-bottom: 1px solid #666;
    background: white;

    height: 40px;
    overflow: hidden;
    transition: 0.5s;
}

.navexpanded {
    height: 150px;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 80%;
    margin: 0 auto; 
    align-items: center;
    flex-wrap:wrap;
    text-align:center; 
}

nav ul > li {
    margin-top: 14px;
    flex-basis: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: .5s;
    margin: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #333;
    background: rgb(0, 183, 255);
}

#logo {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 32px;
    font-weight: 600;
    margin-right: auto;
    margin-top: 0px;
    flex-basis: 50%;
    text-align: left;
}

#menu-icon{
    margin-left:auto;
    flex-basis:50%;
    text-align:right;
    font-size: 28px;
    margin-top: 0px;
}

#logo a:hover, #menu-icon a:hover {
    background: none;
}



/* Small devices (i.e. tablets in portrait) */

@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
        align-items: baseline;
    }

    nav ul > li {
        flex-basis: auto;
    }
    
    #logo {
        margin-right: auto;
    }

    #menu-icon{
        display:none;
    }
    
    .navexpanded {
        height:40px;
    }
    

}
/* Medium devices (i.e. tablets in landscape */

@media (min-width: 900px) {}
/* Large devices (i.e. desktop) */

@media (min-width: 1200px) {}
/* X-Large devices (i.e. big desktop) */

@media (min-width: 1800px) {}